/* color theme */
:root{
    --bg-color: #ffffff;
    --secound-bg-color: #191919;
    --text-color: rgb(0, 0, 0);
    --main-text: rgb(240, 144, 160); 
}

body{
    margin: 0;
    padding: 0;
}

.header{
    margin: 0;
    padding: 0vh;
}

h1{
    text-align: center;
    background-color: var(--bg-color); 
    color: var(--main-text);
    font-size: 50px;
    font-weight: 500;
}

h2{
    font-size: 2.5rem;
    color: var(--main-text);
}

h3{
    font-size: 2rem;
    color: plum;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.center {
    text-align: center;
    width: 100%;
}

.card{
    border: 2px solid plum;
    box-shadow: 9px 8px palevioletred;
    background-color: whitesmoke;
}

.scard{
    border: 2px solid plum;
    background-color: whitesmoke;
    color: black;
}

.card h2, h3{
    text-align: center;
    text-shadow: 2px 2px white;
    font-weight: 800;
}

.list-card{
    border: 2px solid gray;
    background-color: white;
    color: black;
}

li{
    font-size: 20px;
}  